{% extends "test_shop_app/index.html" %}
{% block content %}

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Адреса магазинов</h2>
          </div>
          <div class="col-md-7">

            {% for shop in shops %}
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">
               <a href="{{ shop.get_absolute_url }}">{{ shop.title }}</a>
              </span>
              <p class="mb-0">{{ shop.time }}</p>
              <p class="mb-0">{{ shop.address }}</p>
            </div>



           {% endfor %}

          </div>
        </div>
      </div>
    </div>
  {% endblock content %}