<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">

          <h1 class="my-4">Shop Name</h1>
          <div class="list-group">
            {% for category in categories %}
              <a href="#" id="drop1"  class="list-group-item" data-toggle="drop">{{ category.name }}</a>
                <ul class="dropdown-menu">
                <li><a href="#">Текст подпункта</a></li>
                <li><a href="#">Текст подпункта</a></li>
                <li class="divider"></li>
                <li><a href="#">Текст подпункта</a></li>
                </ul>
            {% endfor %}
          </div>

        </div>



